.day{
    width: 20%;
    margin: auto;
    padding: 10px;
}
.day:hover{
    background-color: rgb(154, 154, 241);
}
.set:hover{
    background-color: rgb(84, 84, 245);

}
h2{
    text-align: center;
}
.App{
    background-color: rgb(163, 163, 163);
    height: 750px;
}